

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 50px;
}
li{
    width: 160px;
    cursor : pointer ; 
}

.general_config{
    background-color: black;
    display: flex ;
    align-items: center;
    justify-content: center;
    gap : 10px ; 
}

.logospotfy {
    height: 50px;
    width: 50px;
    padding: 10px 80px;
}
.logospotfy:hover {
    transition: 90ms;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.searchbar{
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
    height: 100vh; 
    
}
.navbar{
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
}